body{
  width: 600px;
}

h1 {
  color: red;
}

h2 {
  color: blue;
}

p {
  background-color: yellow;
}

img {
  width: 100%;
}
h4 {
  display: none;
}

.qrcode {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
}
