*{
  margin: 0;
  padding: 0;
}

html, body{
  width: 570px;
}

h6 {
  font-size:28pt;
  font-family:"Barlow Condensed", sans-serif;
  font-weight: 500;
  background-color: black;
  padding: 20px;
  color: white;
  text-align: center;
  text-transform: uppercase;
}


h1 {
  font-size:12pt;
  font-family:"Barlow Condensed", sans-serif;
  font-weight: Bold;
  text-align: center;
  padding: 2em 2em;

}

h2 {
  font-size:50pt;
  font-family:"Barlow Condensed", sans-serif;
  font-weight: Semi-bold;
  text-align: center;
  margin: 20px 50px;
}

h3 {
  font-size:24pt;
  font-family:"Inter", sans-serif;
  text-align: justify;
  font-weight: 400;
  padding: 20px 0px;
}

h5 {
  font-size:24pt;
  font-family:"Barlow Condensed", sans-serif;
  font-weight: 500;
  margin: 20px 50px;
}


p {
  font-size:12pt;   
  font-family:"Inter", sans-serif;
  font-weight: 300;
  text-align: justify;
  
}


img {
  width: 100%;
} 


 
h4 {
  display: none;
}

.qrcode {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}

.logo{
  width: 60px;
  border: 1px black solid;
  border-radius: 150px;
  padding: 40px 61px;
  display: block;
  margin: 1em auto;
}

.presentation{
  font-size:8pt;
  font-family: Inter, sans-serif;
  font-weight: light;
}
.italic{
  font-style: italic;
}
.mentions{
  font-size: 7pt;
  font-family: Inter, sans-serif;
  font-weight: medium;
}

.bloclogo{
  margin-top: 5em;
  /*position: relative;*/
  width: 570px;
}

/*
.bloclogo > img.gauche {
  width: 60%;
}

.bloclogo > img.droite {
  width: 39%;
}
*/

.blocplus {
  width: 570px;
  margin: 20px 0px;
}
